<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jm.filerecovery.videorecovery.photorecovery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.NoFileActiviy"/>
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.SettingActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.MainActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.HelpActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.RestoreResultActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.HistoryActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.ScanActivity" />

        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryphoto.AlbumPhotoActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryvideo.AlbumVideoActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryaudio.AlbumAudioActivity" />

        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryphoto.PhotosActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryaudio.AudioActivity" />
        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryvideo.VideoActivity" />

        <activity android:name="com.jm.filerecovery.videorecovery.photorecovery.model.modul.recoveryvideo.FileInfoActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.jm.filerecovery.videorecovery.photorecovery.ui.activity.SplashActivity"
            android:theme="@style/Theme_AppCompat_Light_NoActionBar_FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>